<ion-header>
  <ion-toolbar>
    <ion-title>Guardar Imagen</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="guardarImagen()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="imagenCortada">
    <ion-card-header>
      <ion-card-title>Imagen Editada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img [src] = "imagenCortada">
    </ion-card-content>
  </ion-card>

</ion-content>